<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/cyborg/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/js/jquery-ui/css/redmond/jquery-ui-1.10.0.custom.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/fa-icons/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/cyborg/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/newlogon2.css" />
    <script type="text/javascript" src="/assets/d9dc8d4e/jquery.min.js"></script>
    <script type="text/javascript" src="/css/cyborg/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script type="text/javascript" src="/js/noty/jquery.noty.js"></script>
    <script type="text/javascript" src="/js/noty/layouts/center.js"></script>
    <script type="text/javascript" src="/js/noty/layouts/bottomRight.js"></script>
    <script type="text/javascript" src="/js/noty/themes/default.js"></script>
    <script type="text/javascript" src="/js/core.js"></script>
    <script type="text/javascript" src="/js/datepicker/js/bootstrap-datepicker.js"></script>
    <title>VClub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="onion-location" content="http://vclubccvd426icndg43sjpaowcdkiatcmdfj3zw4mc2z6zwbhvecwmyd.onion" />
    <meta charset="utf-8">
</head>

<body class="text-center">
    <style>
        html {
            background-color: #000;
            height: 100%;
        }
        
        body,
        body>div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
    </style>
    <div class="container">
        <!DOCTYPE html>
        <html lang="en" style="height:100%">

        <head>
            <title>VClub</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="onion-location" content="http://vclubccvd426icndg43sjpaowcdkiatcmdfj3zw4mc2z6zwbhvecwmyd.onion" />
            <meta charset="utf-8">
            <meta http-equiv="refresh" content="13; url=/usercp/auth/login">
        </head>

        <body>
            <div class="container">
                <a href="/login">
                    <img src="/css/images/logo.svg" alt="LOGIN" style="width:40vw;border: none;" />
                </a>
            </div>
        </body>

        </html>
    </div>
    <script>
        //AJAX_POINTER
        var ajaxNoty;
        var ajaxError = 'Error while processing your request.'

        //NOTIFY:
        function myNotify(text, type, timeout) {
            timeout = (!timeout) ? false : timeout * 1000;
            return noty({
                text: text,
                type: type,
                dismissQueue: true,
                layout: 'bottomRight',
                theme: 'default',
                timeout: timeout,
                template: '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',
                animation: {
                    open: {
                        height: 'toggle'
                    },
                    close: {
                        height: 'toggle'
                    },
                    easing: 'swing',
                    speed: 0 // opening & closing animation speed
                }
            });
        }

        function confirmAction(text) {
            return noty({
                text: text,
                type: "confirm",
                dismissQueue: true,
                layout: 'center',
                theme: 'default',
                timeout: 0,
                template: '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',
                buttons: [{
                    addClass: 'btn btn-primary',
                    text: 'Ok',
                    onClick: function($noty) {
                        return true;

                    }
                }, {
                    addClass: 'btn btn-danger',
                    text: 'Cancel',
                    onClick: function($noty) {
                        return false;
                    }
                }]
            });
        }
    </script>
</body>

</html>