<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="/css/yiistrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/newlogon2.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.10.0.custom.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome/font-awesome.min.css" />
    <!-- CSS only -->


    <title>VClub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="onion-location" content="http://vclubccvd426icndg43sjpaowcdkiatcmdfj3zw4mc2z6zwbhvecwmyd.onion" />
    <meta charset="utf-8">
</head>

<body class="text-center">

    <div class="container">

        <p style="text-align: center;">
        </p>
        <div class="row" style="text-align: center;">
            <div class="col-md-12 ">
                <div class="text registration">Registration: <strong>Open</strong>, Registration Fee: <strong>$90</strong></div>
                <div class="form">
                    <form id="yw0" action="/login" method="post">
                        <input type="hidden" value="ak5RSmZIWXN1b3BWdVVoN0FIMXZNeWdTVFFSZ1I1eTa4XP0WVpiVNR8g7TtEwFFl5rBJpEjg_Fr4fCNW_ZQlSA==" name="YII_CSRF_TOKEN" />
                        <div class="fields">
                            <div class="fields-half" style=";">
                                <div class="form-group"><label class="control-label required" for="P_LoginForm_username">Username <span class="required">*</span></label>
                                    <div class="controls"><input id="inputUsername" class="form-control" placeholder="Username*" name="username" type="text" required/></div>
                                </div>
                            </div>
                        </div>
                        <div class="fields">
                            <div class="fields-half" style=";">
                                <div class="form-group"><label class="control-label required" for="P_LoginForm_password">Password <span class="required">*</span></label>
                                    <div class="controls"><input id="inputPassword" class="form-control" placeholder="Password*" name="password" type="password" required/></div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group-inline">
                            <div class="form-group"><label class="control-label" for="P_LoginForm_verifyCode">Captcha</label>
                                <div class="controls"><input id="inputCaptcha" autocomplete="off" class="form-control half" placeholder="Captcha*" name="P_LoginForm[verifyCode]" type="text" /></div>
                            </div>
                            <div class="captcha" id="captcha"><img id="yw1" src="/css/images/captcha.png" alt="" /></div>

                        </div>

                        <div class="fields">
                            <div class="fields-half" style=";">
                                <div class="form-actions"><button class="green btn btn-secondary" type="submit" name="yt0" >Login</button></div>
                                <div class="form-actions"><a href="/register"><button style="" class="btn btn-secondary" name="yt1" type="button">Registration</button></a></div>
                            </div>
                        </div>
                        <div class="fields">
                            <br />Dear customers If you lost your password please contact <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1b686e6b6b74696f5b6d7a77727f35686e6b6b74696f">[email&#160;protected]</a> on jabber. </div>
                        <div class="fields">
                            <br /> If you want to be <strong style="color:#7cfc00">our seller</strong>, <a href="/usercp/auth/sellerin">register here</a>.
                        </div>

                </div>


                </form>
            </div>

        </div>
    </div>



</body>

</html>